<div style="background-color: #ebcee3;" >
  
{% extends "base.html" %}

{% block body %}
<div style="background-color: #ebcee3;" >
  
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        <h1>Pick a Color!</h1>

        <div class="text-center">

        
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.color.label }} <br>
                {{ form.color(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.color.errors %}
                    <span style="color: pink;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.feeling.label }} <br>
                {{ form.feeling(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.feeling.errors %}
                    <span style="color: pink;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.category.label }} <br>
                {{ form.category(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.category.errors %}
                    <span style="color: pink;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.contribution.label }} <br>
                {{ form.contribution(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.contribution.errors %}
                    <span style="color: pink;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                
  
<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">






<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


                {{form.submit()}}
            </p>
        </form>
    </div>
       
{% endblock %}