
{% extends 'base.html' %}

{% block body %}

These are my cats!
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<div class="row"> 
    <div class="col-4">
        <h1 class="display-1">Any Feedback for us?</h1>
    </div>
    <div class="col">
        <a href="/cat/new" class="btn btn-primary btn-sm mt-5" role="button">new cat </a>
    </div>
</div>

{% if cats %}
    {% for cat in cats %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/cat/{{cat.id}}">
                    {{moment(cat.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{cat.author.fname}} {{cat.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Entry</h3>
                {% endif %}
                {{cat.feeling}}
            </div>
        </div>
    {% endfor %}

{% else %}
        <p> no cats </p>
{% endif %}

{% endblock %}